table {
	margin: auto auto;
}
h1 {
	text-align: center;
}
td {
	padding: 50px 50px;
	border: hidden;
}
tr td:nth-of-type(2) {
	border-left-style: groove;
	border-right-style: groove;
}
tr:nth-of-type(2) td{
	border-top-style: groove;
	border-bottom-style: groove;
}