<%- include('partials/header') %>
    <div class="row">
        <div class="col-md-12">
            <form action="/forgot/<%=type%>" method="POST">
                <legend>Forgot Password/Username</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" autofocus class="form-control" required>
                </div>
                <button type="submit" class="btn btn-secondary" style="margin: 0 auto; display: block;">Submit</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>