<%- include('partials/header') %>

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to SoNA!</h1>
            <p>Know more about your social media behavior across multiple platforms.</p>
            <p><a class="btn btn-primary btn-lg" href="/landing" role="button">Learn more</a></p>
        </div>
    </div>
    <%- include('partials/footer') %>