<%- include('partials/header') %>
    <div class="container text-center">
        <p>Landing Page</p>
        <a href="/user/analyze" class="btn btn-secondary">Analyze your media </a>
    </div>
    <%- include('partials/footer') %>