<%- include('partials/header') %>

    <div class="container">
        <form action="/register" method="post" style='width: 50%; margin: 5px auto; padding: 100px 100px 20px 20px;'>
            <div class="form-group">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required>
                </div>
                <label for="username">User Name</label>
                <input type="text" name='username' class="form-control" id="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name='password' placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn btn-secondary" style="margin: 0 auto; display: block;">Submit</button>
        </form>
    </div>

    <%- include('partials/footer') %>