<%- include('./partials/header') %>
    <div class="container">
        <h1 style='text-align: center;'>Register Page</h1>

        <form style='text-align: center;' action="/register" method="POST">
            <input style='width: 30%; margin: 5px auto; padding: 10px;' type="text" name="username" placeholder="Username">
            <br>
            <input style='width: 30%; margin: 5px auto; padding: 10px;' type="password" name="password" placeholder="Password">
            <br>
            <input class='btn btn-primary' style='width: 30%; margin: 5px auto;' type="submit" value="Sign Up">
            <br>
            <a href="/campgrounds">Go back</a>
        </form>

    </div>
    <%- include('./partials/footer') %>