<%- include('../partials/header') %>

    <div class="container">
        <%lines.forEach(function(line){%>
            <p>
                <%=line%>
            </p>
            <%});%>
    </div>

    <%- include('../partials/footer') %>